<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.springboot3demo5ssm.mapper.UserMapper">
    <select id="getUserById" resultType="com.atguigu.springboot3demo5ssm.bean.TUser">
            select * from t_user1 where id = #{id}
    </select>
</mapper>
<!--        &#45;&#45;         select id,login_name loginName,nick_name nickName,passwd from t_user1 where id = #{id}-->